<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<head>
<title>稟議書システム</title>
<meta charset="UTF-8">
</head>
<body>
	<section layout:fragment="content">
		<h1>稟議書作成</h1>
		
		<p>入力内容を確認してください。</p>
		
		<form id="sessionAppForm" role="form" action="/make/complete" th:action="@{/make/complete}" th:object="${sessionAppForm}" method="post">
			<div class="form-group">
				<label for="appSubject">件名</label>
				<p th:text="*{appSubject}"></p>
			</div>
			<div class="form-group">
				<label for="appContent">内容</label>
				<p th:text="*{appContent}"></p>
			</div>
			<div class="form-group">
				<label for="appPrice">申請金額</label>
				<p th:text="*{appPrice}"></p>
			</div>
			<div class="form-group">
				<label for="appAttachment">添付書類</label>
				<p th:text="*{appAttachment}"></p>
			</div>
			<div class="form-group" th:if="!*{#strings.isEmpty(appComment)}">
				<label for="appComment">コメント／所見</label>
				<p th:text="*{appComment}"></p>
			</div>
			<button type="submit" name="back" class="btn btn-default">戻る</button>
			<button type="submit" name="complete" class="btn btn-primary">送信</button>
		</form>
	</section>
	
</body>
</html>
