<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<head>
<title>稟議書システム</title>
<meta charset="UTF-8">
</head>
<body>
	<section layout:fragment="content">
		<h1>未承認一覧</h1>
		
		<div class="alert alert-success" role="alert" th:if="${success_message}" th:text="${success_message}">
			validation error
		</div>
		
		<table class="table">
			<tr>
				<th>ID</th>
				<th>申請者名</th>
				<th>件名</th>
				<th>承認状況</th>
				<th>申請日</th>
				<th>処理</th>
			</tr>
			
			<tr th:each="unapproved : ${unapproveds}">
				<td th:text="${unapproved.appId}"></td>
				<td th:text="${unapproved.employee.employeeName}"></td>
				<td th:text="${unapproved.appSubject}"></td>
				<td>
					<ul th:each="af : ${unapproved.appflow}">
						<li>
							<div th:text="(${af.getPosition().getPositionName()}) + '：' + (${af.getAppflowFlg() == false} ? '承認済み' : '未承認')"></div>
						</li>
					</ul>
				</td>
				<td th:text="${unapproved.appStartDate}"></td>
				<td>
					<p><a th:href="@{/list/view/{appId}/(appId=${unapproved.appId})}">申請内容確認</a></p>
					<p><a class="confirm" th:href="@{/list/approval/{appId}/(appId=${unapproved.appId})}">承認</a></p>
					<p><a class="confirm" th:href="@{/list/dismissal/{appId}/(appId=${unapproved.appId})}">却下</a></p>
				</td>
			</tr>
		
		</table>
		
		<script type="text/javascript">
			$(function() {
				$(".confirm").on('click', function() {
					if (window.confirm("処理を行いますがよろしいですか？")) {
						location.href = $(this).attr('href');
					} else {
						return false;
					}
				});
			});
		</script>
		
	</section>

</body>
</html>
