<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<head>
<title>稟議書システム</title>
<meta charset="UTF-8">
</head>
	<body>
		<section layout:fragment="content">
			<h1>ログイン</h1>
		    <div th:if="${param.error}">
		      	ユーザー名、またはパスワードが違います。
		    </div>
		    <div th:if="${param.logout}">
	      		ログアウトしました
		    </div>
		    <form th:action="@{/login}" method="post">
				<div class="form-group">
					<label>ユーザー名</label>
					<input type="text" class="form-control" name="username"/>
				</div>
				<div class="form-group">
					<label>パスワード</label>
					<input type="password" class="form-control" name="password"/>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">ログイン</button>
				</div>
		    </form>
		    <h2>課題説明用</h2>
		    <p>■一般社員アカウント<br>hiraa@eigyou1</p>
		    <p>■課長権限社員アカウント<br>katyoua@eigyou1</p>
		    <p>■部長権限社員アカウント<br>butyou@eigyou</p>
		    
		</section>
	</body>
</html>