<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<head>
<title>稟議書システム</title>
<meta charset="UTF-8">
</head>
<body>
	<section layout:fragment="content">
		<h1>承認状況一覧</h1>
		
		<div class="alert alert-success" role="alert" th:if="${success_message}" th:text="${success_message}">
			validation error
		</div>
		
		<table class="table">
			<tr>
				<th>ID</th>
				<th>申請者名</th>
				<th>件名</th>
				<th>承認ステータス</th>
				<th>進行状況</th>
				<th>申請日</th>
				<th>処理</th>
			</tr>
			
			<tr th:each="app : ${apps}">
				<td th:text="${app.appId}"></td>
				<td th:text="${app.employee.employeeName}"></td>
				<td th:text="${app.appSubject}"></td>
				<td th:text="${app.appStatus}"></td>
				<td th:switch="${app.appStatus}">
					<div th:each="af : ${app.appflow}">
						<div th:text="(${af.getPosition().getPositionName()}) + '：' + (${af.getAppflowFlg() == false} ? '承認済み' : '未承認')"></div>
					</div>
					<div th:if="${app.appApprovalName != null}" >
						<p th:text="${'却下：'+app.appApprovalName}"></p>
					</div>
				</td>
				<td th:text="${app.appStartDate}"></td>
				<td>
					<p><a th:href="@{/progress/view/{appId}/(appId=${app.appId})}">申請内容確認</a></p>
				</td>
			</tr>
		
		</table>
		
	</section>

</body>
</html>
